<div class="container is-fluid">
  <p>Lista de convidados:</p>
  <form (ngSubmit)="submit()" [formGroup]="listForm">
    <label for="names">Adicionar convidado</label>
    <input
      type="text"
      class="input is-primary"
      name=""
      id=""
      formControlName="name"
    />
    <button class="button is-primary" type="submit">Add</button>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th>Nome do convidado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let name of guestNames$ | async">
        <td>{{ name }}</td>
      </tr>
    </tbody>
  </table>
</div>
